.display-developer {
  color: #000;
  padding: 10px 20px;
}

.display-developer .testArr {
  transform: rotateX(60deg) rotate3D(1,1,1,-10deg);
  height: 120px;
  transform-style:preserve-3d;
}
.display-developer .testArr canvas {
  opacity: 0.9;
}

.display-developer .horizontal div {
  display: inline-block;
}

.display-developer .horizontal .testArr {
  transform: rotateY(238deg) rotate3D(1,1,1,-5deg);
  height: 120px;
  width: 120px;
  transform-style:preserve-3d;
}

.display-developer .northsouth .testArr {
  height: 70px;
}

.display-developer .highlight canvas {
  border: 5px solid red;
}
