html {
  touch-action: manipulation;
}

.touch * {
  cursor: none;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  padding: 40px;
}

canvas {
  background: #000;
  cursor: pointer;
}

canvas:focus {
  outline: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 4px 0;
}

.app {
  width: 1024px;
  height: 1024px;
  /*border: 1px solid #fff;*/
  padding: 20px;
  margin: 0 auto;
  background: #000;
  color: #E8E8DA;
  font-size: 20px;
  line-height: 25px;
  text-align: 'left';
  text-transform: uppercase;
  font-weight: bold;
  font-family: Andale Mono, "Courier New", Courier, monospace;
}

input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  color: #E8E8DA;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Andale Mono, "Courier New", Courier, monospace;
  /*caret-color: transparent;*/
  width: 864px;
}

ul {
  list-style: none;
}

.react-tabs__tab {
  padding: 12px 24px;
  border-radius: 0;
}

.react-tabs__tab-panel {
  padding-top: 8px;
}
