.test {
  color: #000;
  padding: 10px 20px;
}

.test .testArr {
  transform: rotateX(60deg) rotate3D(1,1,1,-10deg);
  height: 120px;
  transform-style:preserve-3d;
}
.test .testArr canvas {
  opacity: 0.9;
}

.test .horizontal div {
  display: inline-block;
}

.test .horizontal .testArr {
  transform: rotateY(238deg) rotate3D(1,1,1,-5deg);
  height: 120px;
  width: 120px;
  transform-style:preserve-3d;
}

.test .northsouth .testArr {
  height: 70px;
}

.test .highlight canvas {
  border: 5px solid red;
}
